.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: gray; 
}

.image-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-button {
    display: block;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.image {
    display: block;
    transition: transform 0.3s, opacity 0.3s;
}

.image-button:hover .image {
    transform: scale(1.5);
    opacity: 1;
}

.text-container {
    display: none; 
    margin-top: 20px;
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.voltar{ 
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
    text-decoration: none;
  
  }