body
{
  background-color: #ffaa00;
color: #D3D3D3;
  

}

h1
{
  background-color: #ad1cab;
  color: #de1d1d;
}
h3
{
  background-color: #2dc2bf;
  color: #ad1cab;
}
h2
{
  background-color: #3dff08;
  color: #29548c;
}
.imagem 
{
  height: 100px;
width: 100px ;

}
